.vscode/settings.json
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/SQU-Timetable-Maker.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/Bundle.cpython-312.pyc
__pycache__/Course.cpython-312.pyc
__pycache__/createTables.cpython-312.pyc
__pycache__/functions.cpython-312.pyc
__pycache__/home_page.cpython-312.pyc
__pycache__/Lecture.cpython-312.pyc
__pycache__/Section.cpython-312.pyc
__pycache__/tables_page.cpython-312.pyc
__pycache__/Bundle.cpython-312.pyc
__pycache__/Course.cpython-312.pyc
__pycache__/createTables.cpython-312.pyc
__pycache__/functions.cpython-312.pyc
__pycache__/home_page.cpython-312.pyc
__pycache__/Lecture.cpython-312.pyc
__pycache__/Section.cpython-312.pyc
__pycache__/tables_page.cpython-312.pyc
